<!----THIS IS WHERE THE GOOD CODE STARTS!!!!!!>





<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>About- tębucīkø</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		
<style>
	body{
		background-color: #dbab72;
	}
</style>
	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo"><strong>tębucīkø</strong> <span>of arts</span></a>
						
					</header>
			

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header 
									class="major">
										<h1>ABOUT US</h1>
									</header>

									<!-- Content -->
										<h3 id="content">MEET THE CREATORS OF TEBUCIKO</h3>
										<p></p>
										
											<div class="6u 12u$(small)">
												<h4>WHO WE ARE</h4>
											

    
    
    			
							
    
    
    
    
    
</div>
		     </li>
		  </ul> 
		  
											</div>
								
											
											<!-- Break -->
											<div class="inner">
											<div class="row">
											<div class="4u 12u$(medium)">
												<h3>Aarushi</h3>
												<p></p>
												<a></a>
											</div>
											
											
											
											
											<div class="4u 12u$(medium)">
												<h3>Katelyn</h3>
												<p></p>
												<a ></a>
											</div>
											
											
											
											<div class="4u$ 12u$(medium)">
												<h3>Nayna</h3>
												<p></p>
												<a></a>

											</div>
										</div>
										

									<hr class="major" />
									

									
																
										
													
														
											<!--				 Break -->
														
											<!--<div class="row">-->
											<!--<div class="4u 12u$(medium)">-->
											<!--	<h3>Katelyn</h3>-->
											<!--	<p></p>-->
											<!--	<a></a>-->
											<!--</div>-->
											
											
											
											
											
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>GRAPHIC DESIGN</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/thevectorlab/graphic-design-inspiration/?eq=graphic%2520design%2520i&etslf=13183"></a>-->
<!--											</div>-->
											
											
											
											
											
											
<!--											<div class="4u$ 12u$(medium)">-->
<!--												<h3>ASIAN ART</h3>-->
<!--												<p></p>-->
<!--												<a></a>-->
<!--											</div>-->
<!--										</div>-->
<!--								<hr class="major" />	-->
								

									
											
											
											
											<!-- Break -->
<!--											<div class="inner">-->
<!--											<div class="row">-->
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>EUROPEAN ART</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/eileenfinney/european-art/"></a>-->
<!--											</div>-->
											
											
											
											
											
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>PRINTMAKING</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/kvantorne/printmaking/?eq=printmaking&etslf=7500"></a>-->
<!--											</div>-->
											
											
<!--											<div class="4u$ 12u$(medium)">-->
<!--												<h3>CUBISM</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/WeLoveWallArt/cubism-art/"></a>-->
<!--											</div>-->
<!--										</div>-->

<!--									<hr class="major" />-->
<!--									</div>-->
											
												
														<!-- Break -->
<!--											<div class="inner">-->
<!--											<div class="row">-->
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>ANIMATION</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/joshuahogan2009/animationcharacter-design/?eq=animation%2520cha&etslf=5975"></a>-->
<!--											</div>-->
											
											
											
											
<!--											<div class="4u 12u$(medium)">-->
<!--												<h3>STREET ART</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/josdortmans/street-art/?eq=street%2520art&etslf=4086"></a>-->
<!--											</div>-->
						
											
											
											
<!--											<div class="4u$ 12u$(medium)">-->
<!--												<h3>SURREALISM</h3>-->
<!--												<p></p>-->
<!--												<a data-pin-do="embedBoard" data-pin-board-width="600" data-pin-scale-height="300" data-pin-scale-width="110" href="https://www.pinterest.com/InoshiroDesign/surrealism/?eq=SURREALISM&etslf=3131"></a>-->
<!--											</div>-->
<!--										</div>-->

<!--									<hr class="major" />-->
<!--									</div>-->
											
										
										
									
											
											
											
											
											
											
											
											
									
									
									
									
									
									
			



<!--<script async defer src="//assets.pinterest.com/js/pinit.js"></script>-->
	</body>
</html>





								<!--			<div class = "inner">-->
								<!--				<div class="row">-->
								<!--			<div class="4u 12u$(medium)">-->
								<!--				<h3></h3>-->
								<!--				<p></p>-->
								<!--			</div>-->
											
											
											
											
											
								<!--			<div class="4u 12u$(medium)">-->
								<!--				<h3></h3>-->
								<!--				<p></p>-->
								<!--			</div>-->
											
											
											
											
											
											
								<!--			<div class="4u$ 12u$(medium)">-->
								<!--				<h3></h3>-->
								<!--				<p></p>-->
								<!--			</div>-->
								<!--		</div>-->
								<!--<hr class="major" />-->
								<!--</div>-->